<!-- templates/medico/form.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/fragments/layout :: layout(~{::head}, ~{::main})}">

<head th:replace="~{fragments/head :: head(~{::title},~{})}">
    <title th:fragment="title">Formulario</title>
</head>

<main>
    <div class="container mt-4">
        <h1 class="mb-4">Formulário de Médico</h1>

        <form th:action="${medico.id == null} ? @{/medico/save} : @{/medico/update}"
              th:object="${medico}" method="post">
            <input type="hidden" th:field="*{id}">

            <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary">
                    Salvar
                </button>
            </div>

            <div>
                <!-- Campo Nome -->
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <input type="text" id="nome" th:field="*{nome}" class="form-control"
                           placeholder="Nome do médico" th:errorclass="is-invalid">
                    <label class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></label>
                </div>

                <!-- Campo CRM -->
                <div class="mb-3">
                    <label for="crm" class="form-label">CRM:</label>
                    <input type="text" id="crm" th:field="*{crm}" class="form-control"
                           placeholder="CRM do médico" th:errorclass="is-invalid">
                    <label class="invalid-feedback" th:if="${#fields.hasErrors('crm')}" th:errors="*{crm}"></label>
                </div>


                <div class="card">
                    <h5 class="card-header">Responsabilidades</h5>
                    <div class="card-body">
                        <h5 class="card-title">Apenas confirar antes de submeter o formulario para evitar Erros de Papeis a alguma pessoa</h5>
                        <div th:each="role : ${roles}" class="form-check">
                            <input class="form-check-input" type="checkbox"
                                   th:id="${'role_' + role.id}"
                                   th:name="${role.nome}"
                                   th:value="${role.id}"/>

                            <label th:for="${'role_' + role.id}" class="form-check-label" th:text="${role.nome}"></label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
</html>
